
@import "style.css";

body, ul, ol, li, img, h2, h3 {
  margin: 0;
  padding: 0;
}

h2, h3 {
  display: inline-block;
  font-weight: normal;
}

body {
  width: 80%;
  min-width: 640px;
  max-width: 1440px;
  margin: 1.2% auto;
  font-size: 10px;
  text-align: justify;
  font-family: Arial, sans-serif;
  color: black;
}

header {
  margin: 1.5em 0 1em;
}

header div {
  padding-bottom: 0.3em;
  border-bottom: 0.4em double gray;
}

header h2 {
  font-size: 210%;
}

header h3 {
  float: right;
  font-size: 160%;
  padding-top: 0.4em;
}

article {
  margin: 3em 0;
  font-size: 150%;
}

article section {
  margin: 1em 1.5em;
}

article ul, article ol {
  margin: 0 2em;
}

article li {
  margin-bottom: 1em;
  line-height: 160%;
}

article input {
  margin: 0 0.2em 0 4em;
}

article math {
  margin: 0 0.1em;
  font-size: 120%;
}

article dt {
  font-size: 120%;
}

article dd {
  margin: 0.5em 2.5em 2em;
  line-height: 140%;
}

#controls span[id] {
  display: inline-block;
  margin: 0.5em;
  padding: 0.3em 0.5em;
  color: white;
  background: #51484F;
  border-radius: 0.5em;
  cursor: pointer;
}

#controls span.scoring {
  margin-left: 0.8em;
  color: red;
}
